#body {
	text-align: center;
	font-family: "Arial";
	color: black;
	background-color: #f7f7f7;
	max-width: 1000px;
	min-width: 500px;
	margin: 0px auto;
	border: 1px solid black;
}

#headers {
	background-color:lightgray;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid black;
}

#startScreen {
	height: 150px;
}

#nameInput {
	margin-top: 50px;
	height: 40px;
}

#playerNameInput {
	height: 30px;
	border-radius: 3px;
	color: black;
	margin-right:5px;
}

#currentPlayer {
	font-size: 35px;
}

.pointsDisplay {
	display: inline-block;
	text-align: right;
}

.pointsDisplay ul {
	display: inline-block;
	text-align: center;
	padding-right: 40px;
}

ul {
	list-style: none;
}

.scoreButtons {
	padding-right: 40px;
	max-width: 500px;
	margin: 0px auto;
}

#points li {
	display: inline;
}

#turnModifier{
	margin-top: 30px;
}

#turnButtons li {
	display: inline;
}

.edge {

	margin: 0px auto;
}

.btn {
	width: 110px;
}

#points .btn {
	width: 110px;
	margin-top: 5px;
}

.pList ul {
	
	padding-right: 40px;
	font-size: 20px;

}

#pListHeading {
	font-size: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
    padding-top: 5px;
	padding-bottom: 10px;
}

.hidden {
	display: none;
}

.hide {
	display: hidden;
}






